{% include 'page-header' %}

{% paginate blog.articles by 8 %}
<div class="blog-template">
  <div class="page-width">
    <div class="blog-intro">
      {% if section.settings.blog_intro %}
        <p>{{ section.settings.blog_intro }}</p>
      {% endif %}
      {% if blog.tags.size > 0 %}
        <div class="blog-filter">
          <label class="blog-filter__label select-label" for="BlogTagFilter">{{ 'collections.filters.title_tags' | t }}</label>
          <div class="select-group">
            <select id="BlogTagFilter" aria-describedby="a11y-refresh-page-message a11y-selection-message">
              <option value="{{ blog.url }}">{{ 'blogs.article.all_topics' | t }}</option>
              {% for tag in blog.all_tags %}
                <option value="{{ blog.url }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
              {% endfor %}
            </select>
            {% include 'icon-chevron-down' %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="page-width">
    <div class="blog-grid">
      {% for article in blog.articles %}
        <div class="blog-card">
          <div class="blog-card-inner">
            <a href="{{ article.url }}" class="article__link">
            {% if article.image %}
              {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
              {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
              {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <div class="article__grid-image-container">
                  <img id="{{ img_id }}"
                      class="article__grid-image lazyload"
                      src="{{ article.image | img_url: '300x300' }}"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ article.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="">
                  <img class="subtract" src="{{ 'Subtract.png'| asset_img_url: 'large' }}">
                  <div class="overlay"></div>
                </div>
            {% endif %}
          <div class="article__grid-meta">
            <p class="article__title">
              {{ article.title | escape }}
            </p>
            <div class="article__grid-excerpt">
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt | strip_html | truncate: 100 }}
              {% else %}
                {{ article.content | strip_html | truncate: 100 }}
              {% endif %}
            </div>
            {% if section.settings.blog_show_date %}
              <span class="article__date">
                {{ article.published_at | time_tag: format: 'date' }}
              </span>
            {% endif %}
            {% if section.settings.blog_show_author %}
              <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
            {% endif %}
          </div>
          </a>
          </div>
        </div>
      {% endfor %}
  </div>
</div>
</div>

{%- if paginate.pages > 1 -%}
  {% include 'pagination', paginate: paginate %}
{%- endif -%}

{% endpaginate %}



{% schema %}
{
  "name": "Blog pages",
  "settings": [
    {
      "type": "image_picker",
      "id": "pageheader_image",
      "label": "Pageheader Image"
    },
    {
      "type": "richtext",
      "id": "blog_intro",
      "label": "Blog introduction/description"
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "Show author"
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date"
    }
  ]
}
{% endschema %}
