{%- assign social_icons = false -%}
{%- assign inline_list = false -%}
{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}
{%- assign show_payment_icons = false -%}
{%- assign show_selectors = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.enabled_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

{%- if section.settings.show_payment_icons -%}
  {%- unless shop.enabled_payment_types == empty -%}
    {%- assign show_payment_icons = true -%}
  {%- endunless -%}
{%- endif -%}

{%- if currency_selector or locale_selector -%}
  {%- assign show_selectors = true -%}
{%- endif -%}

{%- if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or request.page_type == 'article'
  or request.page_type == 'blog'
-%}
  {%- assign social_icons = true -%}
{%- endif -%}

{%- assign copyright_show_class = "medium-up--hide" -%}
{%- if social_icons -%}
  {%- unless show_selectors -%}
    {%- assign copyright_show_class = "" -%}
  {%- endunless -%}
{%- endif -%}

{% comment %}
{%- case section.blocks.size -%}
  {%- when 1 -%}
    {%- assign footer_item = 'site-footer__item--full-width' -%}
    {%- assign inline_list = true -%}
  {%- when 2 -%}
    {%- assign footer_item = 'site-footer__item--one-half' -%}
    {%- assign inline_list = true -%}
  {%- when 3 -%}
    {%- assign footer_item = 'site-footer__item--one-third' -%}
    {%- for block in section.blocks -%}
      {%- if block.type == 'newsletter' -%}
        {%- assign footer_item = 'site-footer__item--one-quarter' -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- when 4 -%}
    {%- assign footer_item = 'site-footer__item--one-quarter' -%}
  {%- when 5 -%}
    {%- assign footer_item = 'site-footer__item--one-fifth' -%}
{%- endcase -%}
{% endcomment %}

{% comment %} Create an appropriate hover color based on text color and brightness {% endcomment %}
{%- assign footer_text_color = section.settings.color_footer_text -%}
{%- assign footer_text_color_brightness = section.settings.color_footer_text | color_brightness -%}
{%- if footer_text_color_brightness <= 26 -%}
  {%- assign footer_text_color_hover = footer_text_color | color_lighten: 25 -%}
{%- elsif footer_text_color_brightness <= 65 -%}
  {%- assign footer_text_color_hover = footer_text_color | color_lighten: 15 -%}
{%- else -%}
  {%- assign footer_text_color_hover = footer_text_color | color_darken: 10 -%}
{%- endif -%}

<style>
  .site-footer__hr {
    border-bottom: 1px solid {{ section.settings.color_footer_bg | color_darken: 10 }};
  }

  .site-footer p,
  .site-footer__linklist-item a,
  .site-footer__rte a,
  .site-footer h4,
  .site-footer small,
  .site-footer__copyright-content a,
  .site-footer__newsletter-error,
  .site-footer__social-icons .social-icons__link {
    color: {{ section.settings.color_footer_text }};
  }

  .site-footer {
    color: {{ section.settings.color_footer_text }};
    background-color: {{ section.settings.color_footer_bg }};
  }

  .site-footer__rte a {
    border-bottom: 1px solid {{ section.settings.color_footer_text }};
  }

  .site-footer__rte a:hover,
  .site-footer__linklist-item a:hover,
  .site-footer__copyright-content a:hover {
    color: {{ footer_text_color_hover }};
    border-bottom: 1px solid {{ footer_text_color_hover }};
  }

  .site-footer__social-icons .social-icons__link:hover {
    color: {{ footer_text_color_hover }};
  }
</style>


{%- capture payment_icon_markup -%}
  {%- if show_payment_icons -%}
    <div class="site-footer__payment-icons">
      <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
      <ul class="payment-icons list--inline site-footer__icon-list">
        {%- for type in shop.enabled_payment_types -%}
          <li class="payment-icon">
            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endcapture -%}

<footer class="site-footer" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="page-width">
    <div class="site-footer__content">
      {%- for block in section.blocks -%}

        <div class="site-footer__item {% if block.type == 'store' %}store{%endif%}"
             {{ block.shopify_attributes }}>
          <div class="site-footer__item-inner site-footer__item-inner--{{ block.type }}">

            {%- if block.settings.title -%}
              <p class="footer-item-title {% if block.settings.title == 'Social' %}social{% endif %}">{{ block.settings.title | escape }}{% if block.type == 'link_list' %}{%include 'icon-angle-down'%}{%endif%}</p>
            {%- endif -%}

            {%- case block.type -%}
              {%- when 'newsletter' -%}
                <div class="site-footer__newsletter">
                  {%- assign formId = 'ContactFooter' -%}
                  {% form 'customer', id: formId, novalidate: 'novalidate' %}
                    {%- if form.posted_successfully? -%}
                      <p class="form-message form-message--success" tabindex="-1" data-form-status>
                        {{ 'general.newsletter_form.confirmation' | t }}
                      </p>
                    {%- endif -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="input-group {% if form.errors %} input-group--error{% endif %}">
                      <input type="email"
                        name="contact[email]"
                        id="{{ formId }}-email"
                        class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
                        value="{{ form.email }}"
                        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        aria-required="true"
                        required
                        autocorrect="off"
                        autocapitalize="off"
                        {% if form.errors %}
                          aria-invalid="true"
                          aria-describedby="{{ formId }}-email-error"
                          data-form-status
                        {% endif %}>
                      <span class="input-group__btn">
                        <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                          <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                        </button>
                      </span>
                    </div>
                    {% if form.errors contains 'email' %}
                      <span id="{{ formId }}-email-error" class="input-error-message">
                        <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                        {% include 'icon-error' %}
                        <span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                      </span>
                    {% endif %}
                  {% endform %}
                </div>

              {%- when 'text' -%}
                {%- if block.settings.text != blank -%}
                  <div class="site-footer__rte">
                      {{ block.settings.text }}
                  </div>
                {%- endif -%}

              {%- when 'link_list' -%}
                {%- assign footer_linklist = block.settings.menu -%}
                  <ul class="site-footer__linklist
                            {% if inline_list %}list--inline{% endif %}">
                    {%- for link in linklists[footer_linklist].links -%}
                      <li class="site-footer__linklist-item">
                        <a href="{{ link.url }}"
                          {% if link.current %} aria-current="page"{% endif %}
                        >
                          {% if link.title == 'Facebook' %}<span class="icon-footer">{% include 'icon-facebook' %}</span>{% elsif link.title == 'Instagram' %}<span class="icon-footer">{% include 'icon-instagram' %}</span>{% endif %}{{ link.title | escape }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
              
              {% when 'store' %}
                  <div class="footer-store-details">
                    {% if block.settings.footer_logo != blank %}
                      <img src="{{ block.settings.footer_logo | img_url: '500x' }}">
                    {% endif %}
                    <div class="footer-contact">
                      {% if block.settings.phone != blank %}
                        <p class="contact--details-phone"><span>{% include 'icon-phone' %}</span>{{ block.settings.phone }}</p>
                      {% endif %}
                      {% if block.settings.email != blank %}
                        <p class="contact--details-email"><span>{% include 'icon-email' %}</span>{{ block.settings.email }}</p>
                      {% endif %}
                      {% if block.settings.address != blank %}
                        <p class="contact--details-address"><span>{% include 'icon-address' %}</span>{{ block.settings.address }}</p>
                      {% endif %}
                      {% if block.settings.hours != blank %}
                        <p class="contact--details-hours">{{ block.settings.hours }}</p>
                      {% endif %}
                    </div>
                  </div>

            {%- endcase -%}

          </div>
        </div>
      {%- endfor -%}
      <div class="footer-mobile-social">
        <li class="site-footer__linklist-item">
          <a href="/" aria-current="page">
            <span class="icon-footer">{% include 'icon-facebook' %}</span>
          </a>
        </li>
        <li class="site-footer__linklist-item">
          <a href="/" aria-current="page">
            <span class="icon-footer">{% include 'icon-instagram' %}</span>
          </a>
        </li>
      </div>
    </div>
  </div>

  {%- assign socials = "Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}

  <div class="page-width">
    <div class="grid grid--no-gutters small--text-center">
      {%- if show_selectors -%}
        <div class="grid__item small--one-whole">
          {%- form 'localization', class: 'selectors-form' -%}
            {%- if locale_selector -%}
              <div class="selectors-form__item">
                <h2 class="visually-hidden" id="lang-heading">
                  {{ 'general.language.dropdown_label' | t }}
                </h2>

                <div class="disclosure" data-disclosure-locale>
                  <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
                    {{ form.current_locale.endonym_name }}
                  </button>
                  <ul id="lang-list" class="disclosure-list" data-disclosure-list>
                    {% for locale in form.available_locales %}
                      <li class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}">
                        <a class="disclosure-list__option" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                          {{ locale.endonym_name }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                </div>
              </div>
            {%- endif -%}

            {%- if currency_selector -%}
              <div class="selectors-form__item">
                <h2 class="visually-hidden" id="currency-heading">
                  {{ 'general.currency.dropdown_label' | t }}
                </h2>

                <div class="disclosure" data-disclosure-currency>
                  <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="currency-list" aria-describedby="currency-heading" data-disclosure-toggle>
                    {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                  </button>
                  <ul id="currency-list" class="disclosure-list" data-disclosure-list>
                    {% for currency in form.available_currencies %}
                      <li class="disclosure-list__item {% if currency.iso_code == form.current_currency.iso_code %}disclosure-list__item--current{% endif %}">
                        <a class="disclosure-list__option" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
                          {{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="currency_code" id="CurrencySelector" value="{{ form.current_currency.iso_code }}" data-disclosure-input/>
                </div>
              </div>
            {%- endif -%}
          {%- endform -%}
        </div>
      {%- endif -%}

      <div class="grid__item small--one-whole site-footer-item-tall">
        {%- if social_icons -%}
          <ul class="list--inline site-footer__social-icons social-icons site-footer__icon-list">
            {%- for social in socials -%}
              {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
              {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
              {%- if settings[social_link] != blank -%}
                <li class="social-icons__item">
                  <a class="social-icons__link" href="{{ settings[social_link] | escape }}" aria-describedby="a11y-external-message">
                    {%- include icon_link -%}
                    <span class="icon__fallback-text">{{ social }}</span>
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}

            {%- if request.page_type == 'blog' or request.page_type == 'article' -%}
              <li>
                <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                  {% include 'icon-rss' %}
                  <span class="icon__fallback-text">RSS</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- else -%}
          <div class="site-footer-small">
            <small class="site-footer__copyright-content">Copyright &copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: routes.root_url }}</small> | <small>Website design by <a href="https://www.zyber.co.nz/" target="_blank" rel="nofollow">Zyber</a></small> | 
            <small class="site-footer__copyright-content site-footer__copyright-content-powered-by">Powered by <a href="https://www.shopify.com/free-trial?ref=zyber" target="_blank" rel="nofollow">Shopify</a></small>
            <div class="payment-icons-wrap">{{ payment_icon_markup }}</div>
          </div>
        {%- endif -%}
      </div>

    </div>
  </div>
</footer>



{% schema %}
{
  "name": {
    "en": "Footer"
  },
  "max_blocks": 5,
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Payment methods"
      }
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "en": "Show payment icons"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "en": "Color"
      }
    },
    {
      "type": "color",
      "id": "color_footer_bg",
      "label": {
        "en": "Background"
      },
      "default": "#F5F5F5"
    },
    {
      "type": "color",
      "id": "color_footer_text",
      "label": {
        "en": "Text"
      },
      "default": "#3d4246"
    },
    {
      "type": "header",
      "content": {
        "en": "Language Selector"
      },
      "info": {
        "en": "To add a language, go to your [language settings.](/admin/settings/languages)"
      }
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": {
        "en": "Show language selector"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "en": "Currency Selector"
      },
      "info": {
        "en": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
      }
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": {
        "en": "Show currency selector"
      },
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": {
        "en": "Menu"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Heading"
          },
          "default": {
            "en": "Quick links"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "en": "Menu"
          },
          "default": "footer"
        }
      ]
    },
    {
      "type": "text",
      "name": {
        "en": "Text"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Heading"
          },
          "default": {
            "en": "Talk about your business"
          }
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {
            "en": "Text"
          },
          "default": {
            "en": "<p>Share store details, promotions, or brand content with your customers.</p>"
          }
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": {
        "en": "Newsletter signup"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Heading"
          },
          "info": {
            "en": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)"
          },
          "default": {
            "en": "Newsletter"
          }
        }
      ]
    },
    {
      "type": "store",
      "limit": 1,
      "name": "Store Details",
      "settings": [
        {
          "type": "image_picker",
          "id": "footer_logo", 
          "label": "Store Logo"
        },
        {
          "type": "text",
          "id": "phone", 
          "label": "Phone"
        },
        {
          "type": "text",
          "id": "email", 
          "label": "Email"
        },
        {
          "type": "text",
          "id": "address", 
          "label": "Address"
        },
        {
          "type": "textarea",
          "id": "hours", 
          "label": "Hours"
        }
      ]
    }
  ]
}
{% endschema %}
